* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_bet {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.flex_centered{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

header{
    background-color: #FF6900;
    flex-direction: column;
    height: 55px;
    margin-bottom: 2rem;
}

.container{
    width: 80%;
    margin: .8rem;
}

.logo{
    height: 2rem;
}

 ul li {
    list-style: none;
    display: inline;
    color: white;
}

/* .card {
    display: inline-block;
}

.list_product { 
    width: 80%;
    text-align: center;


}
.product_image img {
    width: 50%;
} */
